/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
*.log
.phpcs-cache

# IDE
/.vscode
.idea/workspace.xml

# public files
/public/vendor/admin-lte
/public/vendor/telescope
/public/vendor/livewire
/public/vendor/toastify-js
/public/vendor/underscore
/public/css
/public/js
/public/fonts
